<!-- Exemplo para uso de barra de navegação com uso de bootstrap em static 

- esta incompleto -

<!DOCTYPE html>
<html>
    <head>
        <title> RPG - Mesa Teste </title>
        <link rel = "stylesheet" href="">
        <script src = ""></script>
<script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

     <body>
        <div class = "container-fluid">
            <nav class = "navbar navbar-expand-lg navbar-light bg-light"> 
                <a class = "navbar-brand" href="#"> Personagens </a>
                <button class = "navbar-toogler" type = "button" data-toggle = "collapse" data-target = "#navbarNav" arnia-control></button>
                    <span class = "navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <div class = "container">

        </div>
    </body
</html>

-->